@charset "UTF-8";
/* CSS Document */

@import url(
  https://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900&subset=latin,latin-ext);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css);
@import url(effects.css);
@import url(font.css);

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.wrap,
.full {
  display: block;
  position: relative;
  width: 980px;
  padding: 0;
  margin: 0 auto;
}

.wrap {
  width: 970px;
  padding: 0 0 0 10px;
}

.wrap-t {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}

.full {
  width: 100%;
  margin: 0;
}

.cell {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  padding: 0;
}

.cell > #logo,
.cell > #menu {
  display: table-cell;
  vertical-align: middle;
}

.cell > #logo {
  width: 25%;
}
.cell > #menu {
  width: 75%;
  text-align: right;
}

#lngs {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 10px 0 0;
  padding: 0 10px;
  line-height: none;
  background-color: rgb(240, 240, 240);
  border-radius: 0 0 5px 5px;
}

#hamburger {
  display: none;
}

ul#nav,
ul#languages {
  display: block;
  margin: 0;
  padding: 0;
}

ul#nav {
  padding-top: 15px;
}

ul#languages {
  border: 0;
  display: block;
}

ul#nav li,
ul#languages li {
  display: inline-block;
  margin-left: 20px;
  padding: 0;
}

ul#nav li {
  transition-property: border;
  transition-duration: 0.6s;
  transition: ease-in;
  border-bottom: 2px solid #fff;
}

ul#nav li:hover {
  border-bottom: 2px solid rgb(245, 130, 35);
}

ul#languages li {
  margin: 0 !important;
}

ul#languages li > a {
  display: block;
  font-size: 12px;
  margin: 0 !important;
  padding: 0 1px 2px 0 !important;
  text-align: center;
  color: rgb(170, 170, 170);
  text-transform: uppercase;
}

ul#languages li.active > a {
  color: rgb(50, 50, 50);
}

ul#cooperation {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 10px 0 0;
  padding: 0;
  list-style: none;
}

ul#cooperation li {
  display: table-cell;
  width: 20%;
  text-align: center;
  border: 1px solid rgb(210, 210, 210);
  border-top: 0;
  border-bottom: 0;
}

ul#cooperation li:first-child,
ul#cooperation li:last-child {
  border: 0;
}

ul#cooperation li > img {
  width: 70%;
  opacity: 1;
  border: 0;
}

ul.f {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

ul.f > li {
  display: table-cell;
  vertical-align: top;
}

ul.f > li > p {
  padding: 0;
}

ul.f > li.left {
  width: 70%;
}

ul.f > li.left > p {
  padding-right: 30px;
}

ul.f > li.right {
  width: 30%;
}

ul.f > li.right > p {
  text-align: right;
}

ul.offers,
ul.gallery {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0 !important;
}
ul.offers > li,
ul.gallery > li {
  display: inline-block;
  width: 460px;
  height: 220px;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.offers > li > .img {
  display: block;
  width: 100%;
  height: 100px;
  background-color: rgba(220, 220, 220, 1);
}

ul.offers > li > p {
  display: block;
  padding: 10px 0 0;
  margin: 0;
  text-align: center;
  font-size: 16px !important;
}

ul.gallery > li {
  width: 138px;
  height: 140px;
  border: 1px solid #fff;
  outline: 1px solid rgb(220, 220, 220);
  background-color: rgb(235, 235, 235);
}

ul.gallery > li > a > img {
  width: 150%;
}

.clearfix {
  clear: both;
}

ul.contact {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.contact > li {
  display: table-cell;
  table-layout: fixed;
  width: 33%;
  padding: 10px;
  text-align: center;
}

p#contact-de {
  padding-bottom: 79px;
 }

ul.offer_list {
  position: relative;
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.offer_list li {
  position: relative;
  display: block;
  width: 300px;
  height: 210px;
  background-color: rgb(235, 235, 235);
  margin: 10px;
  padding: 0;
  float: left;
}

ul.offer_list li > .place {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 0 10px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.7);
}

ul.offer_list li > img {
  position: relative;
  display: block;
  width: 300px;
  height: 150px;
}

ul.offer_list li > p {
  position: relative;
  line-height: 120%;
  font-weight: 600;
}

ul.offer_list li > p > span {
  font-size: 13px;
  font-weight: normal;
}

#map_js {
  height: 450px;
  background-color: #eee;
}

.baner-box {
  width: 400px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 980px) {
  .baner-box {
    width: 700px !important;
    margin: 0 auto !important;
  }

  .baner-box h1 {
    font-size: 34px;
  }

  .baner-box h2 {
    font-size: 28px;
  }

  h3 {
    padding: 30px;
    font-size: 14px;
  }

  p {
    padding: 20px 30px;
    font-size: 20px !important;
  }

  ul#cooperation {
    border-collapse: collapse;
    padding: 0;
    list-style: none;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: column !important;
    align-content: center !important;
  }

  ul#cooperation li {
    border: none;
    width: 40%;
    text-align: center;
  }

  ul.f {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }

  ul.f > li.left,
  ul.f > li.right {
    width: 100%;
  }

  li.left p,
  li.right p {
	text-align: center !important;
	font-size: 20px;
  }

 ul.offer_list {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
  align-content: center !important;
 }

 ul.offer_list li {
  width: 600px;
  height: 420px;
 }

 ul.offer_list li > img {
  width: 600px;
  height: 300px;
 }

ul.offer_list li > p {
  font-size: 28px;
 }

ul.offer_list li > p > span {
  font-size: 22px;
 }

 table tr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
 }

 ul.gallery {
    columns: 3;
    column-fill: balance;
    column-gap: 0px;
    margin-left: 210px;
    margin-right: 180px;
}

 ul.contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
 }

 ul.contact > li {
  display: block;
  width: 100%;
 }

 p#contact-de {
  padding-bottom: 0px;
 }

 .wrap h3 {
   font-size: 40px;
 }
}
